[Unit]
Description=CouchPotato application instance
After=network.target

[Service]
ExecStart=/var/lib/CouchPotatoServer/CouchPotato.py --daemon 
GuessMainPID=no
Type=forking
User=%i
Group=%i

[Install]
WantedBy=multi-user.target
