.suggestions {
    clear: both;
    padding-top: 10px;
	margin-bottom: 30px;
}

	.suggestions > h2 {
		height: 40px;
	}

.suggestions .media_result {
	display: inline-block;
	width: 33.333%;
	height: 150px;
}

	@media all and (max-width: 960px) {
		.suggestions .media_result {
			width: 50%;
		}
	}

	@media all and (max-width: 600px) {
		.suggestions .media_result {
			width: 100%;
		}
	}

	.suggestions .media_result .data {
		left: 100px;
		background: #4e5969;
		border: none;
	}

		.suggestions .media_result .data .info {
			top: 10px;
			left: 15px;
			right: 15px;
			bottom: 10px;
			overflow: hidden;
		}

		.suggestions .media_result .data .info h2 {
			white-space: normal;
			max-height: 120px;
			font-size: 18px;
			line-height: 18px;
		}

		.suggestions .media_result .data .info .rating,
		.suggestions .media_result .data .info .genres,
		.suggestions .media_result .data .info .year {
			position: static;
			display: block;
			padding: 0;
			opacity: .6;
		}

		.suggestions .media_result .data .info .year {
			margin: 10px 0 0;
		}

		.suggestions .media_result .data .info .rating {
			font-size: 20px;
			float: right;
			margin-top: -20px;
		}
			.suggestions .media_result .data .info .rating:before {
				content: "\e031";
				font-family: 'Elusive-Icons';
				font-size: 14px;
				margin: 0 5px 0 0;
				vertical-align: bottom;
			}

		.suggestions .media_result .data .info .genres {
			font-size: 11px;
			font-style: italic;
			text-align: right;
		}

		.suggestions .media_result .data .info .plot {
			display: block;
			font-size: 11px;
			overflow: hidden;
			text-align: justify;
			height: 100%;
			z-index: 2;
			top: 64px;
			position: absolute;
			background: #4e5969;
			cursor: pointer;
			transition: all .4s ease-in-out;
			padding: 0 3px 10px 0;
		}
			.suggestions .media_result .data:before {
				content: '';
				display: block;
				height: 10px;
				right: 0;
				left: 0;
				bottom: 10px;
				position: absolute;
				background: linear-gradient(
				    0deg,
				    rgba(78, 89, 105, 1) 0%,
				    rgba(78, 89, 105, 0) 100%
				);
				z-index: 3;
				pointer-events: none;
			}

			.suggestions .media_result .data .info .plot.full {
				top: 0;
				overflow: auto;
			}

	.suggestions .media_result .data {
		cursor: default;
	}

	.suggestions .media_result .options {
		left: 100px;
	}
		.suggestions .media_result .options select[name=title] { width: 100%; }
		.suggestions .media_result .options select[name=profile] { width: 100%; }
		.suggestions .media_result .options select[name=category] { width: 100%; }

		.suggestions .media_result .button {
			position: absolute;
			margin: 2px 0 0 0;
			right: 15px;
			bottom: 15px;
		}


	.suggestions .media_result .thumbnail {
		width: 100px;
	}

	.suggestions .media_result .actions {
		position: absolute;
		top: 10px;
		right: 10px;
		display: none;
		width: 140px;
	}
		.suggestions .media_result:hover .actions {
			display: block;
		}
		.suggestions .media_result:hover h2 .title {
			opacity: 0;
		}
		.suggestions .media_result .data.open .actions {
			display: none;
		}

		.suggestions .media_result .actions a {
			margin-left: 10px;
			vertical-align: middle;
		}

