/* @override 
	http://localhost:5000/static/style/page/settings.css
	http://192.168.1.20:5000/static/style/page/settings.css
*/

.page.settings:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

	.page.settings .tabs {
		float: left;
		width: 20%;
		font-size: 25px;
		text-align: right;
		list-style: none;
		padding: 40px 0;
		margin: 0;
		min-height: 470px;
		
		background-image: -webkit-gradient(
		    linear,
		    right top,
		    40% 4%,
		    color-stop(0, rgba(0,0,0, 0.3)),
		    color-stop(0.9, rgba(0,0,0, 0))
		);
		background-image: -moz-linear-gradient(
		    30% 0% 16deg,
		    rgba(0,0,0,0) 0%,
		    rgba(0,0,0,0.3) 100%
		);
	}
		.page.settings .tabs a {
			display: block;
			padding: 11px 15px;
			color: #fff;
		}
		.page.settings .tabs .active a {
			background: #4e5969;
		}

	
	.page.settings .containers {
		width: 75.8%;
		float: left;
		padding: 20px 2%;
		min-height: 300px;
	}	

		.page.settings .advanced { 
			display: none;
			color: #edc07f;
		}
		.page.settings.show_advanced .advanced { display: block; }
		
		.page.settings .tab_content {
			display: none;
		}
		.page.settings .tab_content.active { display: block; }

		.page.settings fieldset {
			padding: 10px 0;
		}
			.page.settings fieldset h2 {
				font-weight: normal;
				font-size: 25px;
				padding:  0 9px 10px 30px;
				margin: 0;
				border-bottom: 1px solid #333;
				
				box-shadow: 0 1px 0px rgba(255,255,255, 0.15);
				-moz-box-shadow: 0 1px 0px rgba(255,255,255, 0.15);
				-webkit-box-shadow: 0 1px 0px rgba(255,255,255, 0.15);
			}
			.page.settings fieldset h2 .hint {
				font-size: 12px;
				margin-left: 10px;
			}
			
			.page.settings fieldset.disabled .ctrlHolder {
				display: none;
			}
			.page.settings fieldset .ctrlHolder:first-child {
				display: block;
				padding: 0;
				width: auto;
				margin: 0;
				position: relative;
				margin-bottom: -25px;
				border: none;
				width: 20px;
			}

	.page.settings .ctrlHolder {
		line-height: 25px;
		padding: 10px 10px 10px 30px;
		font-size: 14px;
		border: 0;
	}
		.page.settings .ctrlHolder.save_success:not(:first-child) {
			background: url('../../images/check.png') no-repeat 7px center;
		}
		.page.settings .ctrlHolder:last-child { border: none; }
		.page.settings .ctrlHolder:hover { background-color: rgba(255,255,255,0.05); }
		.page.settings .ctrlHolder.focused { background-color: rgba(255,255,255,0.2); }
		.page.settings .ctrlHolder.focused:first-child, .page.settings .ctrlHolder:first-child{ background-color: transparent; }

		.page.settings .ctrlHolder .formHint {
			float: right;
			width: 47%;
			margin: -18px 0;
			padding: 0;
			color: #fff;
		}
		
			.check {
				display: inline-block;
				vertical-align: middle;
				height: 16px;
				width: 16px;
				cursor: pointer;
			}
				.check.highlighted { background-color: #424c59; }
				.check.checked {
					background-image: url('../../images/checks.png');
					background-position: -2px 0;
}
			.check input {
				display: none;
			}

			.page.settings .check + .formHint {
				float: none;
				width: auto;
				display: inline-block;
				margin-left: 1% !important;
				height: 24px;
				vertical-align: middle;
			}
	
		.page.settings .ctrlHolder label {
			font-weight: bold;
			width: 20%;
			margin: 0;
			padding: 6px 0 0;
		}
		
		.page.settings .xsmall { width: 20px !important; text-align: center; }

	.page.settings input[type=text], .page.settings input[type=password] {
		padding: 5px 3px;
		margin: 0;
		width: 30%;

		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}
		.page.settings .input.xsmall { width: 5% }
		.page.settings .input.small { width: 10% }
		.page.settings .input.medium { width: 15% }
		.page.settings .input.large { width: 25% }
		.page.settings .input.xlarge { width: 30% }
		
	.page.settings .advanced_toggle {
		clear: both;
		display: block;
		text-align: right;
		height: 20px;
		margin: 0;
	}
		.page.settings .advanced_toggle span { padding: 0 5px; }
		.page.settings.show_advanced .advanced_toggle { 
			color: #edc07f;
		}
	
	.page.settings .directory {
		display: inline-block;
		padding: 0 4% 0 4px;
		font-size: 13px;
		width: 26.3%;
		background-image: url('../../images/icon.folder.gif');
		background-repeat: no-repeat;
		background-position: 97% center;
		overflow: hidden;
		vertical-align: top;
	}
		.page.settings .directory > span {
			height: 25px;
			display: inline-block;
			float: right;
			text-align: right;
			white-space: nowrap;
			cursor: pointer;
		}
	
	.page.settings .directory_list {
		z-index: 2;
		position: absolute;
		width: 360px;
		margin: -2px 0 20px 60px;
		background: #5c697b;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		box-shadow: 0 0 50px rgba(0,0,0,0.55);
		-moz-box-shadow: 0 0 50px rgba(0,0,0,0.55);
		-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.55);
	}
	
		.page.settings .directory_list .pointer {
			border-right: 10px solid transparent;
			border-left: 10px solid transparent;
			border-bottom: 10px solid #5c697b;
			display: block;
			position: absolute;
			width: 0px;
			margin: -9px 0 0 48.5%;
		}
	
	.page.settings .directory_list ul {
		width: 92%;
		height: 300px;
		overflow: auto;
		margin: 0 4%;
	}
	
		.page.settings .directory_list li {
			padding: 0 10px;
			cursor: pointer;
			margin: 0;
			border-top: 1px solid rgba(255,255,255,0.1);
			background: url('../../images/right.arrow.png') no-repeat 98% center;
		}
		.page.settings .directory_list li:last-child {
			border-bottom: 1px solid rgba(255,255,255,0.1);
		}
		
			.page.settings .directory_list li:hover {
				background-color: #515c68;
			}
	
	.page.settings .directory_list .actions {
		clear: both;
		padding: 4% 4% 2%;
		min-height: 25px;
	}
		
		.page.settings .directory_list .actions label {
			float: right;
			width: auto;
			padding: 0;
		}
			.page.settings .directory_list .actions .inlay {
				margin: -2px 0 0 7px;
			}
			
		.page.settings .directory_list .actions .back {
			font-weight: bold;
			width: 160px;
			display: inline-block;
			padding: 0;
			line-height: 120%;
			vertical-align: top;
		}
	
	.page.settings .directory_list .actions:last-child {
		float: right;
		padding: 4%;
	}

		.page.settings .directory_list .actions:last-child > span {
			padding: 0 5px;
			text-shadow: none;
		}
		
		.page.settings .directory_list .actions:last-child > .clear {
			left: -90%;
			position: relative;
	background-color: #af3128;
}
		
		.page.settings .directory_list .actions:last-child > .cancel {
			font-weight: bold;
			color: #ddd;
		}
		
		.page.settings .directory_list .actions:last-child > .save {
			background: #9dc156;
		}
		
	.page.settings .section_newznab {
		
	}
	
	.page.settings .section_newznab .head {
		margin: 0 0 0 60px;
	}
		.page.settings .section_newznab .head abbr {
			display: inline-block;
			font-weight: bold;
			border-bottom: 1px dotted #fff;
			line-height: 140%;
			cursor: help;
		}
		.page.settings .section_newznab .head abbr.host {
			margin-right: 197px;
		}
		
	.page.settings .section_newznab .ctrlHolder {
		padding-top: 2px;
		padding-bottom: 3px;
	}
		
	.page.settings .section_newznab .ctrlHolder > * {
		margin: 0 10px 0 0;
	}
		
	.page.settings .section_newznab .ctrlHolder .delete {
		display: inline-block;
		width: 22px;
		height: 22px;
		vertical-align: middle;
		background-position: left center;
	}
	
	.page.settings .section_newznab .ctrlHolder.is_empty .delete, .page.settings .section_newznab .ctrlHolder.is_empty .use {
		visibility: hidden;
}