.page.settings:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

	.page.settings .tabs {
		float: left;
		width: 20%;
		font-size: 20px;
		text-align: right;
		list-style: none;
		padding: 40px 0;
		margin: 0;
		min-height: 470px;
		background-image: -*-linear-gradient(
		    20deg,
		    rgba(0,0,0,0) 50%,
		    rgba(0,0,0,0.3) 100%
		);
	}
		.page.settings .tabs a {
			display: block;
			padding: 7px 15px;
			font-weight: normal;
			transition: all 0.3s ease-in-out;
			color: rgba(255, 255, 255, 0.8);
			text-shadow: none;
		}
			.page.settings .tabs a:hover, 
			.page.settings .tabs .active a {
				background: rgb(78, 89, 105);
				color: #fff;
			}
			.page.settings .tabs > li {
				border-bottom: 1px solid rgb(78, 89, 105);
			}

		.page.settings .tabs .subtabs {
			list-style: none;
			padding: 0;
			margin: -5px 0 10px;
		}

			.page.settings .tabs .subtabs a {
				font-size: 13px;
				padding: 0 15px;
				font-weight: normal;
				transition: all .3s ease-in-out;
				color: rgba(255, 255, 255, 0.7);
			}

				.page.settings .tabs .subtabs .active a {
					color: #fff;
					background: rgb(78, 89, 105);
				}


	.page.settings .containers {
		width: 80%;
		float: left;
		padding: 20px 2%;
		min-height: 300px;
	}

		.page .advanced {
			display: none;
			color: #edc07f;
		}
		.page.show_advanced .advanced { display: block; }

		.page.settings .tab_content {
			display: none;
		}
		.page.settings .tab_content.active { display: block; }

		.page fieldset {
			padding: 10px 0;
		}
			.page fieldset h2 {
				font-weight: normal;
				font-size: 25px;
				padding:  0 9px 10px 30px;
				margin: 0;
				border-bottom: 1px solid #333;
				box-shadow: 0 1px 0px rgba(255,255,255, 0.15);
			}
			.page fieldset h2 .hint {
				font-size: 12px;
				margin-left: 10px;
			}

			.page fieldset.disabled .ctrlHolder {
				display: none;
			}
			.page fieldset > .ctrlHolder:first-child {
				display: block;
				padding: 0;
				width: auto;
				margin: 0;
				position: relative;
				margin-bottom: -25px;
				border: none;
				width: 20px;
			}

	.page .ctrlHolder {
		line-height: 25px;
		padding: 10px 10px 10px 30px;
		font-size: 14px;
		border: 0;
	}
		.page .ctrlHolder.save_success:not(:first-child) {
			background: url('../../images/icon.check.png') no-repeat 7px center;
		}
		.page .ctrlHolder:last-child { border: none; }
		.page .ctrlHolder:hover { background-color: rgba(255,255,255,0.05); }
		.page .ctrlHolder.focused { background-color: rgba(255,255,255,0.2); }
		.page .ctrlHolder.focused:first-child, .page .ctrlHolder:first-child{ background-color: transparent; }

		.page .ctrlHolder .formHint {
			width: 47%;
			margin: -18px 0;
			padding: 0;
			color: #fff !important;
			display: inline-block;
			vertical-align: middle;
			padding-left: 2%;
		}

			.page .check + .formHint {
				float: none;
				width: auto;
				display: inline-block;
				padding-left: 1% !important;
				height: 24px;
				vertical-align: middle;
			}

		.page .ctrlHolder label {
			font-weight: bold;
			width: 20%;
			margin: 0;
			padding: 6px 0 0;
		}

		.page .xsmall { width: 20px !important; text-align: center; }

	.page input[type=text], .page input[type=password] {
		padding: 5px 3px;
		margin: 0;
		width: 30%;
		border-radius: 3px;
	}
		.page .input.xsmall { width: 5% }
		.page .input.small { width: 10% }
		.page .input.medium { width: 15% }
		.page .input.large { width: 25% }
		.page .input.xlarge { width: 30% }

	.page .advanced_toggle {
		clear: both;
		display: block;
		text-align: right;
		height: 20px;
		margin: 0;
	}
		.page .advanced_toggle span { padding: 0 5px; }
		.page.show_advanced .advanced_toggle {
			color: #edc07f;
		}

	.page .directory {
		display: inline-block;
		padding: 0 4% 0 4px;
		font-size: 13px;
		width: 30%;
		background-image: url('../../images/icon.folder.gif');
		background-repeat: no-repeat;
		background-position: 97% center;
		overflow: hidden;
		vertical-align: top;
	}
		.page .directory > span {
			height: 25px;
			display: inline-block;
			float: right;
			text-align: right;
			white-space: nowrap;
			cursor: pointer;
		}

	.page .directory_list {
		z-index: 2;
		position: absolute;
		width: 450px;
		margin: 28px 0 20px 18%;
		background: #5c697b;
		border-radius: 3px;
		box-shadow: 0 0 50px rgba(0,0,0,0.55);
	}

		.page .directory_list .pointer {
			border-right: 6px solid transparent;
			border-left: 6px solid transparent;
			border-bottom: 6px solid #5c697b;
			display: block;
			position: absolute;
			width: 0px;
			margin: -6px 0 0 22%;
		}

	.page .directory_list ul {
		width: 92%;
		height: 300px;
		overflow: auto;
		margin: 0 4%;
		font-size: 16px;
	}

		.page .directory_list li {
			padding: 4px 10px;
			cursor: pointer;
			margin: 0 !important;
			border-top: 1px solid rgba(255,255,255,0.1);
			background: url('../../images/right.arrow.png') no-repeat 98% center;
		}
		.page .directory_list li:last-child {
			border-bottom: 1px solid rgba(255,255,255,0.1);
		}

			.page .directory_list li:hover {
				background-color: #515c68;
			}
			
		.page .directory_list li.empty {
			background: none;
			height: 100px;
			text-align: center;
			font-style: italic;
			border: none;
			line-height: 100px;
			cursor: default;
			color: #BBB;
			text-shadow: none;
			font-size: 12px;
		}

	.page .directory_list .actions {
		clear: both;
		padding: 4% 4% 2%;
		min-height: 25px;
	}

		.page .directory_list .actions label {
			float: right;
			width: auto;
			padding: 0;
		}
			.page .directory_list .actions .inlay {
				margin: -2px 0 0 7px;
			}

		.page .directory_list .actions .back {
			font-weight: bold;
			width: 160px;
			display: inline-block;
			padding: 0;
			line-height: 120%;
			vertical-align: top;
		}

	.page .directory_list .actions:last-child {
		float: right;
		padding: 4%;
	}

		.page .directory_list .actions:last-child > span {
			padding: 0 5px;
			text-shadow: none;
		}

		.page .directory_list .actions:last-child > .clear {
			left: -90%;
			position: relative;
	background-color: #af3128;
}

		.page .directory_list .actions:last-child > .cancel {
			font-weight: bold;
			color: #ddd;
		}

		.page .directory_list .actions:last-child > .save {
			background: #9dc156;
		}


	.page .multi_directory.is_empty .delete  {
		visibility: hidden;
	}

	.page .multi_directory .delete {
		display: none;
	}
	.page .multi_directory:hover .delete {
		display: inline-block;
		width: 22px;
		height: 24px;
		vertical-align: top;
		background-position: center;
		margin-left: 5px;
	}


	.page .tag_input select {
		width: 20%;
		display: inline-block;
	}

		.page .tag_input .selection {
			border-radius: 0 10px 10px 0;
			height: 26px;
		}

	.page .tag_input > input {
		display: none;
	}

	.page .tag_input > ul {
		list-style: none;
		border-radius: 3px;
		cursor: text;
		width: 30%;
		margin: 0 !important;
		min-height: 27px;
		line-height: 0;
		display: inline-block;
	}
		.page .tag_input:hover > ul {
			border-radius: 3px 0 0 3px;
		}
		.page .tag_input:hover .formHint { display: none; }

		.page .tag_input > ul > li {
			display: inline-block;
			min-height: 20px;
			min-width: 2px;
			font-size: 12px;
			padding: 0;
			margin: 4px 0 0 !important;
			border-width: 0;
			background: 0;
			line-height: 20px;
		}
		.page .tag_input > ul > li:first-child { min-width: 4px; }
			.page .tag_input li.choice {
				cursor: -moz-grab;
				cursor: -webkit-grab;
				cursor: grab;
				padding: 0;
				border-radius: 2px;
			}
			.page .tag_input > ul:hover > li.choice {
				background: -*-linear-gradient(
				    270deg,
				    rgba(255,255,255,0.3) 0%,
				    rgba(255,255,255,0.1) 100%
				);
			}
			.page .tag_input > ul > li.choice:hover,
			.page .tag_input > ul > li.choice.selected {
				background: -*-linear-gradient(
				    270deg,
				    #5b9bd1 0%,
				    #406db8 100%
				);
			}

			.page .tag_input .select {
				display: none;
			}
				.page .tag_input:hover .select { display: inline-block; }

			.page .tag_input li input {
				background: 0;
				border: 0;
				color: #fff;
				outline-width: 0;
				padding: 0;
				min-width: 2px;
			}
			.page .tag_input li:first-child input {
				padding-left: 2px;
				min-width: 0;
			}

			.page .tag_input li:not(.choice) span {
				white-space: pre;
				position: absolute;
				top: -9999px;
			}

			.page .tag_input .delete {
				display: none;
				height: 10px;
				width: 16px;
				position: absolute;
				margin: -9px 0 0 -16px;
				border-radius: 30px 30px 0 0;
				cursor: pointer;
				background: url('../../images/icon.delete.png') no-repeat center 2px, -*-linear-gradient(
				   270deg,
				    #5b9bd1 0%,
				    #5b9bd1 100%
				);
				background-size: 65%;
			}
			.page .tag_input .choice:hover .delete, 
			.page .tag_input .choice.selected .delete { display: inline-block; }
			.page .tag_input .choice .delete:hover {
				height: 14px;
				margin-top: -13px;
			}

	.page .combined_table .head {
		margin: 0 0 0 60px;
	}
		.page .disabled .head { display: none; }
		.page .combined_table .head abbr {
			display: inline-block;
			font-weight: bold;
			border-bottom: 1px dotted #fff;
			line-height: 140%;
			cursor: help;
		}
		.page .combined_table .head abbr.use, .page .combined_table .head abbr.automation_urls_use {
			display: none;
		}
		.page .combined_table .head abbr.host {
			margin-right: 197px;
		}

	.page .combined_table .ctrlHolder {
		padding-top: 2px;
		padding-bottom: 3px;
	}
	.page .combined_table .ctrlHolder.hide { display: none; }

	.page .combined_table .ctrlHolder > * {
		margin: 0 10px 0 0;
	}

	.page .combined_table .ctrlHolder .delete {
		display: none;
		width: 22px;
		height: 22px;
		vertical-align: middle;
		background-position: left center;
	}
	.page .combined_table .ctrlHolder:hover .delete {
		display: inline-block;
	}

	.page .combined_table .ctrlHolder.is_empty .delete, .page.settings .combined_table .ctrlHolder.is_empty .check {
		visibility: hidden;
}

	.page .tab_about .usenet {
		padding: 20px 30px 0;
		font-size: 17px;
	}

		.page .tab_about .usenet a {
			padding: 0 5px;
		}

		.page .tab_about .usenet ul {
			float: left;
			width: 50%;
			margin: 10px 0;
			padding: 0;
		}

			.page .tab_about .usenet li {
				background: url('../../images/icon.check.png') no-repeat left center;
				padding: 0 0 0 25px;
			}

		.page .tab_about .donate {
			float: left;
			width: 42%;
			text-align: center;
			font-size: 17px;
			padding: 0 0 0 4%;
			margin: 20px 0 0;
			border-left: 1px solid #333;
			box-shadow: -1px 0 0 rgba(255,255,255, 0.15);
		}
			.page .tab_about .donate form {
				padding: 10px 0 0;
			}

	.page .tab_about .info {
		padding: 20px 30px;
		margin: 0;
		overflow: hidden;
	}

		.page .tab_about .info dt {
			clear: both;
			float: left;
			width: 17%;
			font-weight: bold;
		}

		.page .tab_about .info dd {
			float: right;
			width: 80%;
			padding: 0;
			margin: 0;
			font-style: italic;
		}
		.page .tab_about .info dd.version { cursor: pointer; }

	.page .tab_about .group_actions > div {
		padding: 30px;
		text-align: center;
	}

		.page .tab_about .group_actions a {
			margin: 0 10px;
			font-size: 20px;
		}

.group_userscript {
	background:  center bottom no-repeat;
	min-height: 360px;
	font-size: 20px;
	font-weight: normal;
}

	.group_userscript h2 .hint {
		display: block;
		margin: 0 !important;
	}

	.group_userscript .userscript {
		float: left;
		margin: 14px 0 0 25px;
		height: 36px;
		line-height: 25px;
	}

	.group_userscript .or {
		float: left;
		margin: 20px 10px;
	}

	.group_userscript .bookmarklet {
		display: block;
		display: block;
		float: left;
		padding: 20px 15px 0 0 ;
		border-radius: 5px;
	}

		.group_userscript .bookmarklet span {
			margin-left: 10px;
			display: inline-block;
		}
		
.active .group_imdb_automation:not(.disabled) {
	background: url('../../images/imdb_watchlist.png') no-repeat right 50px;
	min-height: 210px;
}