<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('web.static', filename='style/main.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('web.static', filename='style/uniform.generic.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('web.static', filename='style/uniform.css') }}" type="text/css">

		<link rel="stylesheet" href="{{ url_for('web.static', filename='style/page/settings.css') }}" type="text/css">

		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/mootools.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/mootools_more.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/prefix_free.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/uniform.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/form_replacement/form_check.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/form_replacement/form_radio.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/form_replacement/form_dropdown.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/form_replacement/form_selectoption.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/question.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/scrollspy.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/spin.js') }}"></script>

		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/couchpotato.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/api.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/library/history.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/page.js') }}"></script>

		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/block.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/block/navigation.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/block/footer.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/block/menu.js') }}"></script>

		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/page/wanted.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/page/settings.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/page/about.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/page/manage.js') }}"></script>
		<!--<script type="text/javascript" src="{{ url_for('web.static', filename='scripts/page/soon.js') }}"></script>-->

		{% for url in fireEvent('clientscript.get_scripts', as_html = True, single = True) %}
		<script type="text/javascript" src="{{ url_for('web.index') }}{{ url }}"></script>{% endfor %}
		{% for url in fireEvent('clientscript.get_styles', as_html = True, single = True) %}
		<link rel="stylesheet" href="{{ url_for('web.index') }}{{ url }}" type="text/css">{% endfor %}

		<link href="{{ url_for('web.static', filename='images/favicon.ico') }}" rel="icon" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{{ url_for('web.static', filename='images/homescreen.png') }}" />

		<script type="text/javascript" src="https://www.youtube.com/player_api" defer="defer"></script>

		<script type="text/javascript">
			window.addEvent('domready', function() {
				new Uniform();

				Api.setup({
					'url': {{ url_for('api.index')|tojson|safe }},
					'path_sep': {{ sep|tojson|safe }},
					'is_remote': false
				});

				$(document.body).set('data-api', window.location.protocol + '//' + window.location.host + Api.createUrl().replace('/default/', '/'));

				// Catch errors
				window.onerror = function(message, file, line){

					p(message, file, line);

					Api.request('logging.log', {
						'data': {
							'type': 'error',
							'message': Browser.name + ' ' + Browser.version + ': \n' + message,
							'page': window.location.href.replace(window.location.host, 'HOST'),
							'file': file.replace(window.location.host, 'HOST'),
							'line': line
						}
					});

					return true;
				}

				Quality.setup({
					'profiles': {{ fireEvent('profile.all', single = True)|tojson|safe }},
					'qualities': {{ fireEvent('quality.all', single = True)|tojson|safe }}
				});

				Status.setup({{ fireEvent('status.all', single = True)|tojson|safe }});

				File.Type.setup({{ fireEvent('file.types', single = True)|tojson|safe }});

				App.setup({
					'base_url': {{ url_for('web.index')|tojson|safe }},
					'args': {{ env.get('args')|tojson|safe }},
					'options': {{ ('%s' % env.get('options'))|tojson|safe }},
					'app_dir': {{ env.get('app_dir')|tojson|safe }},
					'data_dir': {{ env.get('data_dir')|tojson|safe }},
					'pid': {{ env.getPid()|tojson|safe }},
					'userscript_version': {{ fireEvent('userscript.get_version', single = True)|tojson|safe }}
				});
			})

			{% if env.setting('show_wizard') %}
				if(!window.location.href.contains('wizard'))
					window.location = '{{ url_for('web.index') }}wizard/'
			{% endif %}

		</script>
		<title>CouchPotato</title>
	</head>
	<body></body>
</html>