{% autoescape None %}
<!doctype html>
<html>
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes">

		<title>Login</title>
	</head>
	<body>
		<form action="" method="post">
			<div><input name="username" type="text" placeholder="Username" /></div>
			<div><input name="password" type="password" placeholder="Password" /></div>
			<div><label title="for 30 days"><input name="remember_me" type="checkbox" value="1" checked="checked" /> Remember me</label></div>
			<div><input name="submit" type="submit" value="Login" /></div>
		</form>
	</body>
</html>