{% autoescape None %}
<!doctype html>
<html class="{{ 'dark' if Env.setting('dark_theme') else '' }}">
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="robots" content="noindex, nofollow" />

		{% for url in fireEvent('clientscript.get_styles', single = True) %}
		<link data-url="{{ url }}" rel="stylesheet" href="{{ Env.get('web_base') }}{{ url }}" type="text/css">{% end %}
		{% for url in fireEvent('clientscript.get_scripts', single = True) %}{% if 'combined.plugins' not in url %}
		<script type="text/javascript" src="{{ Env.get('web_base') }}{{ url }}"></script>{% end %}{% end %}

		<link href="{{ Env.get('static_path') }}images/favicon.ico" rel="icon" type="image/x-icon" />
		<link rel="apple-touch-icon" href="{{ Env.get('static_path') }}images/homescreen.png" />

		{% if Env.get('dev') %}
		<script src="//localhost:35729/livereload.js?snipver=1"></script>
		{% end %}

		<title>CouchPotato</title>
	</head>
	<body class="page login">
		<form action="" method="post">
			<h1>CouchPotato</h1>
			<div class="ctrlHolder"><input class="username" name="username" type="text" placeholder="Username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" /></div>
			<div class="ctrlHolder"><input class="password" name="password" type="password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /></div>
			<div class="ctrlHolder">
				<label class="remember_me" title="for 30 days"><input id="remember_me" name="remember_me" type="checkbox" value="1" checked="checked" /> Remember me</label>
				<input class="button" name="submit" type="submit" value="Login" />
			</div>
		</form>
	</body>
</html>
