@import "_mixins";

.search_form {
	display: inline-block;
	z-index: 11;
	width: 44px;
	position: relative;

	* {
		transform: translateZ(0);
	}

	.icon-search {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 0;
		height: 100%;
		text-align: center;
		color: #FFF;
		font-size: 20px;
		transform: translateY(-50%);
	}

	.wrapper {
		position: absolute;
		left: 44px;
		bottom: 0;
		background: $primary_color;
		border-radius: $border_radius 0 0 $border_radius;
		display: none;
        box-shadow: 0 0 15px 2px rgba(0,0,0,.15);

		&:before {
			transform: rotate(45deg);
			content: '';
			display: block;
			position: absolute;
			height: 10px;
			width: 10px;
			background: $primary_color;
			left: -6px;
			bottom: 16px;
			z-index: 1;
		}
	}

	.input {
		background: $background_color;
		border-radius: $border_radius 0 0 $border_radius;
		position: relative;
		left: 4px;
		height: 44px;
		overflow: hidden;
		width: 100%;

		input {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1;

			&::-ms-clear {
				width : 0;
				height: 0;
			}
		}
	}

	&.filled .input input {
		background: $theme_off;
	}

	&.focused,
	&.shown,
	.page.home & {
		border-color: #04bce6;

		.wrapper {
			display: block;
			width: 380px;
			transform-origin: 0 90%;

			@include media-phablet {
				width: 260px;
			}
		}

		.input {

			input {
				opacity: 1;
			}
		}
	}

	.results_container {
		min-height: 50px;
		text-align: left;
		position: relative;
		left: 4px;
		display: none;
		background: $background_color;
		border-radius: $border_radius 0 0 0;
		overflow: hidden;

		.results {
			max-height: 280px;
			overflow-x: hidden;

			.media_result {
				overflow: hidden;
				height: 50px;
				position: relative;

				@include media-phablet {
					font-size: 12px;
				}

				.options {
					position: absolute;
					height: 100%;
					top: 0;
					left: 30px;
					right: 0;
					background: rgba(0,0,0,.3);
					display: flex;
					align-items: center;

					@include media-phablet {
						left: 0;
					}

					> .in_library_wanted {
						margin-top: -7px;
					}

					> div {
						border: 0;
						display: flex;
						padding: 10px;
						align-items: stretch;
						justify-content: space-between;

						@include media-phablet {
							padding: 3px;
						}
					}

					select {
						display: block;
						height: 100%;
						width: 100%;

						@include media-phablet {
							min-width: 0;
							margin-right: 2px;
						}
					}

					.title {
						margin-right: 5px;
						width: 210px;

						@include media-phablet {
							width: 140px;
							margin-right: 2px;
						}
					}

					.profile, .category {
						margin: 0 5px 0 0;

						@include media-phablet {
							margin-right: 2px;
						}
					}

					.add {
						width: 42px;
						flex: 1 auto;
					}

					.button {
						display: block;
						background: $primary_color;
						text-align: center;
						margin: 0;
					}

					.message {
						font-size: 20px;
						color: #fff;
					}

				}

				.thumbnail {
					width: 30px;
					min-height: 100%;
					display: block;
					margin: 0;
					vertical-align: top;

					@include media-phablet {
						display: none;
					}
				}

				.data {
					position: absolute;
					height: 100%;
					top: 0;
					left: 30px;
					right: 0;
					cursor: pointer;
					border-top: 1px solid rgba(255,255,255, 0.08);
					transition: all .4s cubic-bezier(0.9,0,0.1,1);
					transform: translateX(0);
					background: $background_color;

					@include media-phablet {
						left: 0;
					}

					&:hover {
						transform: translateX(2%);
					}

					&.open {
						transform: translateX(100%);
					}

					.info {
						position: absolute;
						top: 20%;
						left: 15px;
						right: 7px;
						vertical-align: middle;

						h2 {
							margin: 0;
							font-weight: 300;
							font-size: 1.25em;
							padding: 0;
							position: absolute;
							width: 100%;
        					display: flex;

							.title {
								display: inline-block;
								margin: 0;
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: nowrap;
    							flex: 1 auto;
							}

							.year {
								opacity: .4;
								padding: 0 5px;
								width: auto;
								display: none;
							}

							.in_wanted,
							.in_library {
								position: absolute;
								top: 15px;
								left: 0;
								font-size: 11px;
								color: $primary_color;
							}

							&.in_library_wanted {
								.title {
									margin-top: -7px;
								}
							}
						}
					}
				}

				&:hover .info h2 .year {
					display: inline-block;
				}

				&:last-child .data {
					border-bottom: 0;
				}
			}

		}
	}

	&.focused.filled,
	&.shown.filled {
		.results_container {
			display: block;
		}

		.input {
			border-radius: 0 0 0 $border_radius;
		}
	}

	.page.home & {
		height: 100px;

		.icon-search {
			color: #000;
		}

		.wrapper {
			border-radius: 0;
			box-shadow: 0;
			bottom: auto;
			top: 0;

			&:before {
				display: none;
			}

			.input {
				border-radius: 0;
				left: 0;
			}

		}


	}

}
