@import "couchpotato/static/style/mixins";

.search_form {
	display: inline-block;
	z-index: 200;
	width: 44px;

	a  {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 0;
		height: 100%;
		cursor: pointer;
		text-align: center;
		color: #FFF;
		font-size: 20px;

		@include translateY(-50%);

	}

	.input {
		position: relative;
		height: 100%;

		&:before {
			@include transform(rotate(45deg) translateY(-60%));
			content: '';
			display: block;
			position: absolute;
			height: 20px;
			width: 20px;
			background: $background_color;
			left: 33px;
			top: 50%;
			z-index: 1;
			opacity: 0;
		}

		input {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 44px;
			height: 100%;
			width: 100%;
			z-index: 1;
			box-shadow: 0 0 4px rgba(0,0,0,.1);

			&::-ms-clear {
				width : 0;
				height: 0;
			}
		}
	}

	&.focused,
	&.shown {
		border-color: #04bce6;

		.input {
			width: 380px;

			&:before {
				opacity: 1;
			}

			input {
				opacity: 1;
			}
		}
	}

}

	.search_form .results_container {
		text-align: left;
		position: absolute;
		background: #5c697b;
		margin: 4px 0 0;
		width: 470px;
		min-height: 50px;
		box-shadow: 0 20px 20px -10px rgba(0,0,0,0.55);
		display: none;
	}
		@media all and (max-width: 480px) {
			.search_form .results_container {
				width: 320px;
			}
		}
		.search_form.focused.filled .results_container,
		.search_form.shown.filled .results_container {
			display: block;
		}

	.search_form .results {
		max-height: 570px;
		overflow-x: hidden;
	}

	.media_result {
		overflow: hidden;
		height: 50px;
		position: relative;
	}

		.media_result .options {
			position: absolute;
			height: 100%;
			top: 0;
			left: 30px;
			right: 0;
			padding: 13px;
			border: 1px solid transparent;
			border-width: 1px 0;
			border-radius: 0;
			box-shadow: inset 0 1px 8px rgba(0,0,0,0.25);
		}
			.media_result .options > .in_library_wanted {
				margin-top: -7px;
			}

			.media_result .options > div {
				border: 0;
			}

			.media_result .options .thumbnail {
				vertical-align: middle;
			}

			.media_result .options select {
				vertical-align: middle;
				display: inline-block;
				margin-right: 10px;
			}
				.media_result .options select[name=title] { width: 170px; }
				.media_result .options select[name=profile] { width: 90px; }
				.media_result .options select[name=category] { width: 80px; }

				@media all and (max-width: 480px) {

					.media_result .options select[name=title] { width: 90px; }
					.media_result .options select[name=profile] { width: 50px; }
					.media_result .options select[name=category] { width: 50px; }

				}

			.media_result .options .button {
				vertical-align: middle;
				display: inline-block;
			}

			.media_result .options .message {
				height: 100%;
				font-size: 20px;
				color: #fff;
				line-height: 20px;
			}

		.media_result .data {
			position: absolute;
			height: 100%;
			top: 0;
			left: 30px;
			right: 0;
			background: #5c697b;
			cursor: pointer;
			border-top: 1px solid rgba(255,255,255, 0.08);
			transition: all .4s cubic-bezier(0.9,0,0.1,1);
		}
			.media_result .data.open {
				left: 100% !important;
			}

			.media_result:last-child .data { border-bottom: 0; }

			.media_result .in_wanted, .media_result .in_library {
				position: absolute;
				bottom: 2px;
				left: 14px;
				font-size: 11px;
			}

			.media_result .thumbnail {
				width: 34px;
				min-height: 100%;
				display: block;
				margin: 0;
				vertical-align: top;
			}

			.media_result .info {
				position: absolute;
				top: 20%;
				left: 15px;
				right: 7px;
				vertical-align: middle;
			}

				.media_result .info h2 {
					margin: 0;
					font-weight: normal;
					font-size: 20px;
					padding: 0;
				}

					.search_form .info h2 {
						position: absolute;
						width: 100%;
					}

				.media_result .info h2 .title {
					display: block;
					margin: 0;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}

					.search_form .info h2 .title {
						position: absolute;
						width: 88%;
					}

					.media_result .info h2 .year {
						padding: 0 5px;
						text-align: center;
						position: absolute;
						width: 12%;
						right: 0;
					}

					@media all and (max-width: 480px) {

						.search_form .info h2 .year {
							font-size: 12px;
							margin-top: 7px;
						}

					}

.search_form .mask,
.media_result .mask {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
