@import "couchpotato/static/style/mixins";

.movies {

	.list_list {
		font-size: 15px;
		font-weight: 300;
		background: #f2f2f2;

		.poster {
			display: none;
		}

		.movie {
			border-bottom: 1px solid #e6e6e6;
			position: relative;
			cursor: pointer;

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				background: rgba(0,0,0,.1);
			}

			.data {
				padding: $padding/2 $padding;

				.info {

					@include flexbox();
					flex-flow: row nowrap;

					.title {
						@include flex(1 auto);

						.year {
							display: inline-block;
							margin-left: 10px;
							opacity: .5;
						}
					}

					.quality {

						span {
							color: #FFF;
							font-size: .8em;
							padding: 2px 4px;
							background: rgba(0,0,0,.2);
							border-radius: 1px;
						}
					}
				}
			}
		}
	}

	.thumb_list {

		font-size: 12px;
		padding: $padding/2 $padding;

		.movie {
			@include span(6);
			float: left;
			margin-bottom: $padding;

			&:nth-child(4n+4){
				@include span(last);
			}

			&:nth-child(4n+5){
				clear: both;
			}

			.poster {
				border-radius: 2px;
				overflow: hidden;
				width: 100%;
				float: left;
			}

			.data {
				clear: both;

				.info {

					.title {
						@include flexbox();
						padding: 3px 0;

						span {
							@include flex(1 auto);
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						.year {
							display: inline-block;
							margin-left: 5px;
							opacity: .5;
						}
					}

					.quality {
						white-space: nowrap;
						overflow: hidden;

						span {
							color: #FFF;
							font-size: .8em;
							padding: 2px 4px;
							background: rgba(0,0,0,.2);
							border-radius: 1px;
							margin-right: 2px;
						}
					}
				}
			}
		}

	}

	.check {
		position: absolute;
		top: 0;
		left: $padding;
		display: none;
	}

	.eta {
		display: none;
	}

}
