@import "couchpotato/static/style/_mixins";

.page.movies {
	z-index: 21; // Sets navigation above
	bottom: auto;
}

.page.movies_wanted, .page.movies_manage {
	top: $header_height;
	padding: 0;
}

.list_list {
	font-weight: 300;

	.poster {
		display: none;
	}

	.movie {
		display: block;
		border-top: 1px solid $theme_off;
		position: relative;
		cursor: pointer;

		&:last-child {
			border-bottom: none;
		}

		&:hover {
			background: rgba(0,0,0,.1);
		}

		.data {
			padding: $padding/2 $padding;

			.info {

				@include flexbox();
				flex-flow: row nowrap;

				.title {
					@include flex(1 auto);

					.year {
						display: inline-block;
						margin: 0 10px;
						opacity: .5;
					}
				}

				.quality span {
					float: left;
					color: #FFF;
					font-size: .7em;
					padding: 2px 4px;
					background: rgba(0,0,0,.2);
					border-radius: 1px;
					margin: 2px 0 0 2px;
				}
			}
		}

		.actions {
			position: absolute;
			right: $padding/2;
			top: 0;
			bottom: 0;
			display: none;

			a {
				height: 100%;
				display: block;
				background: $background_color;
				padding: $padding / 2;
				width: auto;
				float: right;
				color: $text_color;

				&:hover {
					color: $primary_color;
				}
			}
		}

		&:hover .actions {
			display: block;
		}
	}
}

.thumb_list {

	font-size: 12px;
	padding: 0 $padding;

	.movie {
		@include span(6);
		float: left;
		margin-bottom: $padding;
		position: relative;
		cursor: pointer;

		&:nth-child(4n+4){
			@include span(last);
		}

		&:nth-child(4n+5){
			clear: both;
		}

		.poster {
			border-radius: $border_radius;
			overflow: hidden;
			width: 100%;
			float: left;
		}

		.data {
			clear: both;

			.info {
				height: 44px;

				.title {
					@include flexbox();
					padding: 3px 0;

					span {
						@include flex(1 auto);
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.year {
						display: inline-block;
						margin-left: 5px;
						opacity: .5;
					}
				}

				.quality {
					white-space: nowrap;
					overflow: hidden;

					span {
						color: #FFF;
						font-size: .8em;
						padding: 2px 4px;
						background: rgba(0,0,0,.2);
						border-radius: 1px;
						margin-right: 2px;
					}
				}
			}
		}

		.actions {
			position: absolute;
			top: $padding / 2;
			right: $padding / 2;
			display: none;

			a {
				display: block;
				background: $background_color;
				padding: $padding / 3;
				width: auto;
				margin-bottom: 1px;
				clear: both;
				float: right;
			}
		}

		&:hover .actions {
			display: block;
		}

		.mask {
			bottom: 44px;
			border-radius: $border_radius;
		}
	}

}

.check {
	position: absolute;
	top: 0;
	left: $padding;
	display: none;
}

.eta {
	display: none;
}

.page.movie_details {

	$gab-width: $header_width/3;

	.overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: $header_width;
		background: rgba(0,0,0,.6);
		border-radius: 3px 0 0 3px;

		.close {
			display: inline-block;
			text-align: center;
			font-size: 60px;
			line-height: $header_height;
			color: #FFF;
			width: $gab-width;
			cursor: pointer;
			height: 100%;
		}
	}

	.content {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: $header_width + $gab-width;
		background: $background_color;
		z-index: 200;
		border-radius: 3px 0 0 3px;
		overflow-y: auto;

		> .head {
			@include flexbox();
			flex-flow: row nowrap;
			padding: 0 $padding;
			line-height: $header_height;

			h1 {
				@include flex(1 auto);
				margin: 0;
				font-size: 24px;
				color: rgba(0,0,0,.5);
				font-weight: 300;
			}

			.more_menu {
				display: inline-block;

				> a {
					line-height: $header_height;
				}

				.icon-dropdown {
					position: relative;
					padding: 0 $padding 0 0;
					cursor: pointer;

					&:before {
						position: absolute;
						right: 0;
						opacity: .2;
					}

					&:hover:before {
						opacity: 1;
					}
				}

				.wrapper {
					top: $header_height - 10px;
					padding-top: 4px;
					border-radius: $border_radius $border_radius 0 0;

					&:before {
						top: 0;
						left: auto;
						right: 22px;
					}

					ul {
						border-radius: $border_radius $border_radius 0 0;
						max-height: 215px;
						overflow-y: auto;
					}

					a {
						cursor: pointer;

						&:hover {
							color: $primary_color;
						}
					}
				}

			}

			.category {
			}

			.buttons {
			}
		}

		.section {
			padding: $padding $padding;
			border-top: 1px solid rgba(0,0,0,.1);
		}
	}

	.releases {

		.buttons {
			margin-bottom: $padding/2;
		}

		.item {

			&:not(.head):hover {
				background: $theme_off;
			}

			span {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				text-align: center;
				padding: $padding/3 0;
			}

			.name {
				@include flex(1 auto);
				text-align: left;
			}
			
			&.ignored  {
				span:not(.actions) {
					opacity: .3;
				}

				.name {
					text-decoration: line-through;
				}
			}

			.actions {
				padding: 0;

				a {
					display: inline-block;
					vertical-align: top;
					padding: $padding/3;
					min-width: 26px;
					color: $text_color;
					cursor: pointer;

					&:hover {
						color: $primary_color;
					}
				}
			}
		}
		
		.status { min-width: 70px; max-width: 70px; }
		.quality { min-width: 60px; max-width: 60px; }
		.size { min-width: 40px; max-width: 40px; }
		.age { min-width: 40px; max-width: 40px; }
		.score { min-width: 45px; max-width: 45px; }
		.provider { min-width: 110px; max-width: 110px; }
		.actions { min-width: 80px; max-width: 80px; }

	}

	.trailer_container {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;

		iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}


.alph_nav {

	.mass_edit_form {
		display: none;
	}

	.menus {
		margin-right: $padding;

		.button {
			padding: 0 $padding/2;
			line-height: $header_height;
			color: rgba(0, 0, 0, 0.5);
		}

		.counter, .more_menu, .actions {
			float: left;

			> a {
				display: inline-block;
				width: 30px;
				line-height: 80px;
				text-align: center;
				cursor: pointer;

				&:hover {
					color: $primary_color;
				}
			}
		}

		.counter {
			line-height: $header_height;
			padding: 0 $padding/2;
		}

		.actions {

			a {
				display: none;
			}

			.active {
				display: inline-block;
			}

		}

		.filter {
			.wrapper {
				width: 320px;
			}

			.button {
				margin-top: -2px;
			}

			.search {
				position: relative;

				&:before {
					position: absolute;
					height: 100%;
					line-height: 38px;
					padding-left: $padding/2;
					font-size: 16px;
					opacity: .5;
				}

				input {
					width: 100%;
					padding: $padding/2 $padding/2 $padding/2 $padding*1.5;
					background: $background_color;
					border: none;
					border-bottom: 1px solid $theme_off;
				}
			}

			.numbers {
				padding: $padding/2;

				li {
					float: left;
					width: 10%;
					height: 30px;
					line-height: 30px;
					text-align: center;
					color: rgba(0,0,0,.2);
					cursor: default;

					&.active {
						background: $theme_off;
					}

					&.available {
						color: rgba(0,0,0,1);
						cursor: pointer;

						&:hover {
							background: $theme_off;
						}
					}
				}
			}
		}

		.more_menu {

			&.show .button {
				color: rgba(0, 0, 0, 1);
			}

			.wrapper {
				top: $header_height - 10px;
				padding-top: 4px;
				border-radius: $border_radius $border_radius 0 0;

				&:before {
					top: 0;
					left: auto;
					right: 22px;
				}

				ul {
					border-radius: $border_radius $border_radius 0 0;
				}
			}
		}
	}

}
