html {
	font-size: 12px;
	line-height: 1.5;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	font-size: 14px;
}

* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	clear: both;
	font-size: 14px;
}

h1 {
	font-size: 25px;
	padding: 20px 40px;
}

h2 {
	font-size: 20px;
}

pre {
	background: #eee;
	font-family: monospace;
	margin: 0;
	padding: 10px;
	width: 100%;
	display: block;
	font-size: 12px;
}

.api, .missing {
	overflow: hidden;
	border-bottom: 1px solid #eee;
	padding: 40px;
}
	.api:hover {
		color: #000;
	}

	.api .description {
		color: #333;
		padding: 0 0 5px;
	}

	.api .params {
		background: #fafafa;
		width: 100%;
	}
		.api h3 {
			clear: both;
			float: left;
			width: 100px;
		}

		.api .params {
			float: left;
			width: 700px;
		}

			.api .params td, .api .params th {
				padding: 3px 5px;
				border-bottom: 1px solid #eee;
			}
			.api .params tr:last-child td, .api .params tr:last-child th {
				border: 0;
			}

			.api .params .param {
				vertical-align: top;
			}

				.api .params .param th {
					text-align: left;
					width: 100px;
				}

				.api .param .type {
					font-style: italic;
					margin-right: 10px;
					width: 100px;
					color: #666;
				}

		.api .return {
			float: left;
			width: 700px;
		}