/* Fonts */
@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot?74719532');
    src: url('../fonts/icons.eot?74719532#iefix') format('embedded-opentype'),
    url('../fonts/icons.woff?74719532') format('woff'),
    url('../fonts/icons.ttf?74719532') format('truetype'),
    url('../fonts/icons.svg?74719532#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
}
.icon-left-arrow:before { content: '\e800'; }
.icon-settings:before { content: '\e801'; }
.icon-search:before { content: '\e802'; }
.icon-dots:before { content: '\e803'; }
.icon-filter:before { content: '\e804'; }
.icon-thumb:before { content: '\e805'; }
.icon-list:before { content: '\e806'; }

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansRegular') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-webfont.eot');
    src: url('../fonts/Lobster-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lobster-webfont.woff2') format('woff2'),
         url('../fonts/Lobster-webfont.woff') format('woff'),
         url('../fonts/Lobster-webfont.ttf') format('truetype'),
         url('../fonts/Lobster-webfont.svg#lobster_14regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
