$primary_color: #ac0000;
$secondary_color: #00d2c2;
$background_color: #FFF;
$menu_color: #111;
$theme_off: #eaeaea;
$text_color: #000;

$header_height: 80px;
$header_width: 132px;
$padding: 20px;
$border_radius: 3px;

$cubic: cubic-bezier(0.9,0,0.1,1);

@import "susy";
@import "compass/css3/transition";
@import "compass/css3/transform";

$susy: (
	columns: 24,
	gutters: 70px/70px
);

$mq-phone: 320px !default;
$mq-phablet: 480px !default;
$mq-tablet: 768px !default;
$mq-desktop: 1024px !default;
$mq-desktop-plus: 1382px !default;

@mixin media-phone {
	@media (max-width : $mq-phone) {
		@content;
	}
}

@mixin media-phablet {
	@media (max-width : $mq-phablet) {
		@content;
	}
}

@mixin media-tablet {
	@media (max-width : $mq-tablet) {
		@content;
	}
}

@mixin media-desktop {
	@media (max-width : $mq-desktop) {
		@content;
	}
}

@mixin media-desktop-plus {
	@media (max-width : $mq-desktop-plus) {
		@content;
	}
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
