@import "_mixins";

.page.settings {

	.tab_content {
		display: none;

		&.active {
			display: block;
		}
	}

	fieldset {
		border: 0;
		margin-bottom: $padding;

		h2 {
			display: flex;
			align-items: baseline;
			padding: 0 $padding;

			.hint {
				margin-left: $padding/2;
				font-size: 1rem;

				a {
					font-weight: 400;
					color: $primary_color;
					text-decoration: underline;
				}
			}
		}

		.ctrlHolder {
			padding: $padding/3 $padding;
			border-bottom: 1px solid $theme_off;
			display: flex;
			align-items: center;

			&:last-child {
				border-bottom: 0;
			}

			label {
				display: inline-block;
				min-width: 150px;
			}

			input, textarea, select {
				min-width: 200px;

				&[type=checkbox] {
					width: auto;
					min-width: 0;
				}
			}

			.select_wrapper {
				position: relative;
				display: flex;
				align-items: center;

				select {
					cursor: pointer;
				}

				&:before {
					pointer-events: none;
					position: absolute;
					right: $padding/2;
					height: 100%;
					line-height: 0;
					margin-top: -3px;
				}
			}

			.formHint {
				opacity: .8;
				margin-left: $padding;

				a {
					font-weight: 400;
					color: $primary_color;
					text-decoration: underline;
				}
			}

			&.test_button a {
				margin: 0;
			}
		}

		.disabled {
			.ctrlHolder {
				display: none;
			}
		}
	}

	fieldset.advanced,
	fieldset .ctrlHolder.advanced {
		display: none;
		color: $primary_color;
	}

	&.show_advanced {
		fieldset.advanced,
		fieldset .ctrlHolder.advanced {
			display: flex;
		}
	}

	/** Options list **/
	.enabler {
		display: block;
	}

	.option_list {
		margin-bottom: 20px;
		display: flex;
		flex-flow: row wrap;

		.check {
			margin-top: 5px;
		}

		.enabler {
			padding: 0;
			margin-left: 5px !important;

			h2 .hint {
				font-weight: normal;
			}

			&:not(.disabled) {
				margin: 0 0 0 30px;

				.ctrlHolder:first-child {
					margin: 10px 0 -33px 0;
				}

				.icon {
					display: none;
				}

				h2 {
					font-size: 16px;
					font-weight: bold;
					border: none;
					border-top: 1px solid rgba(255,255,255, 0.15);
					box-shadow: 0 -1px 0 #333;
					margin: 0;
					padding: 10px 0 5px 25px;
				}

				&:first-child h2 {
					border: none;
					box-shadow: none;
				}
			}

			&.disabled {
				display: inline-block;
				padding: 4px 0 5px;
				margin: 0;
				width: 100px;
				vertical-align: top;

				h2 {
					cursor: pointer;
					border: none;
					box-shadow: none;
					padding: 0 10px 0 0;
					font-size: 16px;
					position: relative;
					left: 25px;
					margin-right: 25px;

					.hint {
						display: none;
					}
				}
			}
		}

		h3 {
			padding: 0;
			margin: 10px 5px 0;
			text-align: center;
			font-weight: normal;
			text-shadow: none;
			text-transform: uppercase;
			font-size: 12px;
			background: rgba(255,255,255,0.03);
			width: 100%;
		}
	}

}