@import "_mixins";

.page.settings {
	top: $header_height;
	display: flex;

	@include media-phablet {
		display: block;
	}

	.navigation {
		display: flex;
		justify-content: space-between;

		.advanced_toggle {
			display: flex;
			align-items: center;

			span {
				margin-right: $padding / 2;
			}
		}
	}

	.tab_content {
		display: none;

		&.active {
			display: block;
		}
	}

	.tabs {
		margin: 0 $padding;
		list-style: none;
		font-size: 24px;

		ul {
			list-style: none;
			font-size: initial;
		}

		li {
			a {
				color: rgba(0,0,0,.5);
			}

			&.active {
				a {
					color: #000;
				}
			}
		}

	}

	form.containers {
		margin: 0 $padding 0 0;
		flex: 1 1 auto;
	}

	fieldset {
		border: 0;
		margin-bottom: $padding;
		position: relative;

		h2 {
			display: flex;
			align-items: baseline;
			padding: 0 $padding;

			.icon {
				margin-right: $padding/2;

				img {
					vertical-align: middle;
					position: relative;
					top: -1px;
				}
			}

			.hint {
				margin-left: $padding/2;
				font-size: 1rem;

				a {
					font-weight: 400;
					color: $primary_color;
					text-decoration: underline;
				}
			}
		}

		.ctrlHolder {
			padding: $padding/3 $padding;
			border-bottom: 1px solid $theme_off;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;

			@include media-phablet {
				flex-flow: row wrap;
			}

			&:last-child {
				border-bottom: 0;
			}

			label {
				display: inline-block;
				min-width: 150px;
			}

			input, textarea, select {
				min-width: 200px;

				&[type=checkbox] {
					width: auto;
					min-width: 0;
				}
			}

			.select_wrapper {
				position: relative;
				display: flex;
				align-items: center;

				select {
					cursor: pointer;
				}

				&:before {
					pointer-events: none;
					position: absolute;
					right: $padding/2;
					height: 100%;
					line-height: 0;
					margin-top: -3px;
				}
			}

			.formHint {
				opacity: .8;
				margin-left: $padding;

				a {
					font-weight: 400;
					color: $primary_color;
					text-decoration: underline;
				}

				@include media-phablet {
					min-width: 100%;
					margin-left: 0;
				}
			}

			&.test_button a {
				margin: 0;
			}
		}

		&.disabled {

			.ctrlHolder {
				display: none;
			}

			> .ctrlHolder:first-child {
				display: block;
			}
		}

		&.enabler {
			display: block;

			> :first-child {
				position: absolute;
				right: 0;
				top: 0;
				border: 0;
				padding: 0;

				~ h2 {
					margin-right: 66px + $padding;
				}
			}
		}
	}

	fieldset.advanced,
	fieldset .ctrlHolder.advanced {
		display: none;
		color: $primary_color;
	}

	&.show_advanced {
		fieldset.advanced,
		fieldset:not(.disabled) > .ctrlHolder.advanced {
			display: flex;
		}
	}

	.switch {
		$switch_active: $primary_color;
		display: inline-block;
		background: $switch_active;
		border: 1px solid $switch_active;
		box-shadow: inset 0 0 0 1px #FFF;
		height: 22px;
		width: 66px;
		min-width: 0 !important;
		padding: 2px;
		transition: all 250ms;
		cursor: pointer;
		border-radius: 3px;

		input {
			display: none;
		}

		.toggle {
			background: #FFF;
			height: 100%;
			width: 40%;
			transition: transform 250ms;
			transform: translateX(150%);
			border-radius: 2px;
		}

	}

	fieldset.enabler.disabled .switch,
	&:not(.show_advanced) .advanced_toggle .switch {
		background: $theme_off;
		border-color: $theme_off;

		.toggle {
			transform: translateX(0);
		}


		&:hover {
			background: darken($theme_off, 20);
			border-color: darken($theme_off, 20);
		}
	}

	/** Options list **/
	.option_list {
		background: #FFF;

		fieldset {
			position: relative;
		}

		fieldset:after {
			position: absolute;
			content: '';
			display: block;
			width: 100%;
			border-bottom: 1px solid $theme_off;
			bottom: -$padding/2;

			&:last-child {
				border-bottom: 0;
			}
		}

		h2 {
			font-size: 1em;
			font-weight: 400;

			.hint {
				font-weight: 300;
			}
		}
	}

}